.aboutme-body{
    background-image: url(../images/background-2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    padding:30px;
    position: relative;
    top:110px;
    left:12px;
    margin-right:4%;
    border-radius:20px;
}


.title{
    display:flex;
    justify-content: center;
    font-weight: bold;
    font-size:32px;
    text-decoration: underline;
}
.text{
    font-size:18px;
}

.about-body{
    display:flex;
    flex-direction:row;
}

.education{
    background-image: url(../images/background-3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
    position:relative;
    top:110px;
    padding:10px;
    border-radius:20px;
    margin-right:1%;

}

.education-title{
    font-weight:bold;
    font-size:28px;
    text-decoration:underline;
}

