.project-body{
    display:flex;
    position:relative;
    top:110px;
    gap:35px;
    justify-content: space-evenly;
    margin-left:4%;
    margin-right:4%
}

.ms-access{
    color:white;
    border:3px solid palevioletred;
    background-color: white;
    border-radius:10px;
    padding:12px 34px;
    display:flex;
    align-items:center;
    flex-direction:column;
    background-image: url(../images/database-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.python-database{
    color:white;
    border:3px solid palevioletred;
    background-color: white;
    border-radius:10px;
    padding:12px 34px;
    align-items:center;
    display:flex;
    flex-direction:column;    
    background-image: url(../images/database-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}


.rpi-project{
    border:3px solid palevioletred;
    background-color: white;
    border-radius:10px;
    padding:12px 34px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image:url(../images/rpi-background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

h3{
    text-decoration: underline;
}


.img-a{
    height:150px;
    width:150px;

}

.img-b{
    height:150px;
    width:205px;
}

.img-c{
    height:160px;
    width:250px;
}

.project-body a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(34, 138, 104);
    padding:10px;
    border-radius:5px;
    

}